<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ETHOS</title>
    <!--link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'images/icon.png') }}"/-->
    <link rel="shortcut icon" type="image/png" href="/static/images/icon.png"/>

	<!-- Bu linkten alındı css dosyası -->
	<!-- href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" -->
	<!-- <link rel="stylesheet" href="/static/css/navbar.css"
		integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"> -->

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/static/css/style2.css">

</head>

<body>

	<!-- <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #1D8FBD;">
		<div class="container-fluid">
			<a href="/" class="navbar-brand">
				<img src="/static/images/icon2.png" alt="">
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navbarCollapse" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a href="/" class="nav-link active">
							Anasayfa
						</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link active">
							Hizmetler
						</a>
					</li>
					<li class="nav-item">
						<a href="/about" class="nav-link active">
							Hakkımızda
						</a>
					</li>
					<li class="nav-item">
						<a href="/articles" class="nav-link active">
							Makaleler
						</a>
					</li>
					<li class="nav-item">
						<a href="/articles" class="nav-link active">
							Bize Ulaşın
						</a>
					</li>
				</ul>
			</div>

		</div>
	</nav> -->

	<header>
		<div class="jumbotron bg-dark text-white py-4">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 px-0">
						<h1 class="display-4 font-italic" style="color: #1D8FBD;">
							Bir Bilene Danışın...
						</h1>
						<p class="lead my-2">
							Mevzuat ve sektörel gerekliliklere tam uyum için bilgi birikimimizi 
							ve tecrübemizi hizmetinize sunuyoruz... 
						</p>
						<br>
						<p class="lead mb-0 text-white font-weight-bold">
							Yakında Yayında...
						</p>
					</div>
				</div>
			</div>
		</div>
	</header>

	<main>

		<div class="container text-center">
			
				<img src="/static/images/logo5.jpeg" alt="" style="width: 50%; height:auto;"  >
						
			
		</div>
	</main>

	<footer class="py-4 text-white text-center" style="background-color: #1D8FBD;">
		Ethos Finansal Danışmanlık ve Bilişim Çözümleri A.Ş. 2020
	</footer>

	<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> -->

	<script src="/static/js/bootstrap.bundle.min.js" charset="utf-8" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="/static/js/jquery.js" charset="utf-8" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>